body{
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:center;
  
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 4rem;
}

.add-task{
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 2rem;
  width: 90px;
}
.add-task:hover{
  background-color: lightgreen;
}

ol{
  
  list-style: none;
}

.task{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 25px;
  background-color: whitesmoke;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.648);
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  width : 100vw  
}

input[type="text"]{
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
border-radius: 5px;
margin-right: 10px;
}
button{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin:5px;
  cursor: pointer;
  
}
.text{
  flex : 1;
}
.delete{
  background-color: red;
}
.delete:hover{
  background-color: lightcoral;
}
.move-button{
  background-color: aqua;
}
.move-button:hover{
  background-color: aquamarine;
}
.delete ,.move-button{
  padding: 12px 15px;
  margin-left: 5px;
  margin-right: 5px;
}
